/* ----------------------------------------------------------------
問題文があるコンテナ(#main-container)を左側に寄せる
---------------------------------------------------------------- */

#main-container {
    width: max(750px, 50%);
    margin-left: 3rem;
}

#main-div.float-container {
    background-color: oklch(0.96 0 0);
}
